  <div class="row">
    <div class="col-3">
      <div class="btn btn-outline-secondary btn-block">
        <%= link_to edit_user_path(user.id) do %>
          <i class="fas fa-user-cog text-secondary"></i>
        <% end %>
      </div>
    </div>
  </div>